node_modules/electron/dist/Electron.app/Contents/Frameworks/Electron\ Framework.framework/*
node_modules/electron/dist/Electron.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Electron